name: Maven Build

on:
  push:
    pull_request:
      types: [ opened, synchronize, reopened, ready_for_review ]

jobs:
  build:
    name: "Maven Build"
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout Sources"
        uses: actions/checkout@v2
        with:
          # We must fetch at least the immediate parents so that if this is
          # a pull request then we can checkout the head.
          fetch-depth: 2
      - name: "Set up JDK"
        uses: actions/setup-java@v1.4.2
        with:
          java-version: 15
      - name: "Cache Maven dependencies"
        uses: actions/cache@v2
        env:
          cache-name: cache-maven-dependencies
        with:
          # maven dependencies are stored in `~/.m2/repository` on Linux/macOS
          path: ~/.m2/repository
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: "Build with Maven"
        run: ./mvnw verify
